.landing-page {
  text-align: left;
}

.landing-page .landing-page-part {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.landing-page .landing-page-part + .landing-page-part {
  padding-top: 8em;
  margin-top: -5em;
}

.landing-page p {
  font-weight: 400;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.landing-page .landing-page-part-content {
  padding-bottom: 3em;
  padding-left: 10%;
  padding-right: 10%;
}

.landing-page .landing-page-part p {
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.landing-page .landing-page-part h2 {
  margin-bottom: 1rem;
  font-weight: 700;
}

.landing-page .landing-page-part-1 .landing-page-part-content {
  margin-top: 0rem;
  padding-top: 0rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.landing-page .landing-page-part-1 .landing-page-part-1-content {
  padding-left: 15%;
  padding-right: 15%;
}

.landing-page .landing-page-logo {
  margin-bottom: 2rem;
}
.landing-page .landing-page-logo img {
  height: 100%;
  width: 45%;
  margin-left: 16%;
}
.landing-page .landing-page-title {
  color: rgb(0, 155, 255);
  font-weight: 700;
}
.landing-page .landing-page-part.landing-page-part-1 {
  background-color: rgb(240, 240, 240);
  z-index: 5;
}
.landing-page .landing-page-part.landing-page-part-1 p {
  font-weight: 500;
  margin-bottom: 2rem;
}
.landing-page .landing-page-themes {
  margin-bottom: 1rem;
}
.landing-page .landing-page-app-icons {
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
}

.landing-page .landing-page-part.landing-page-part-1 .landing-page-app-icons p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.landing-page .landing-page-part-2 {
  background-color: rgb(0, 155, 255);
  color: white;
  margin: 0 -10px;
  z-index: 3;
}

.landing-page .landing-page-part-2 .landing-page-part-content {
  padding-left: 12%;
  padding-right: 5%;
}

.landing-page .landing-page-part-2 img {
  width: 100%;
  height: auto;
}

.landing-page .landing-page-part-3 {
  background-color: rgb(240, 240, 240);
  color: black;
  z-index: 2;
  margin: 0 -5px;
}

.landing-page .landing-page-part-3 .landing-page-part-content {
  padding-left: 12%;
}

.landing-page .landing-page-part-3 a {
  text-decoration: underline;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}

.landing-page .landing-page-part-3 a:hover {
  color: rgb(50, 50, 50);
}

.landing-page .landing-page-part-4 {
  background-color: rgb(150, 150, 150);
  color: white;
  z-index: 1;
  margin: 0;
}

.landing-page .landing-page-part-4 .landing-page-part-content {
  font-size: 1.35rem;
}

.landing-page .landing-page-part-4 .landing-page-part-content img {
  height: 8rem;
  margin-right: 2rem;
}

@media (max-width: 800px) {
  .landing-page .landing-page-part {
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }

  .landing-page .landing-page-part-2,
  .landing-page .landing-page-part-3,
  .landing-page .landing-page-part-4 {
    margin-left: -15px;
    margin-right: -15px;
  }

  .landing-page .landing-page-part-content,
  .landing-page .landing-page-part-2 .landing-page-part-content,
  .landing-page .landing-page-part-3 .landing-page-part-content {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 425px) {
    .landing-page .landing-page-part-1 .landing-page-part-1-content {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .landing-page .landing-page-logo img {
    width: 60%;
    margin-left: 10%;
  }
}

@media (max-width: 500px) {
  .landing-page .landing-page-logo img {
    width: 80%;
    margin-left: 5%;
  }
}
